@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html{
    background-color:rgb(51, 91, 53) ;
    /* background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #bac2ea 0%,
    #d194cd 48%,
    #b1a48c 81%
  ); */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(42, 42, 42);
}

.logo {
  width: 7rem;
  /* margin: 10px 20px 10px 20px; */
}

.logo a:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  color: white;
}

.navlink {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  margin: 0 40px 0 0;
  padding: 40px;
  color: white;
}

.navlink:hover {
  color: rgb(51, 91, 53);
  transition: 1s;
}

h1 {
  text-align: center;
  color: black;
  padding: 50px;
  background-image: ;
}
.flip-card {
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: 80px;
  float: left;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #dbccdc;
  color: black;
}
.flip-card-back {
  background-color: #dbccdc;
  color: white;
  transform: rotateY(180deg);
}
